.song-list{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.song{
    border: 2px solid black;
    width: 300px;
    padding: 15px;
}
.song:hover{
    background-color: lightgreen;
    transform: scale(1.05);
}
.selectedsong{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 400px;
    margin: auto;
    background-color: lightgreen;
}